<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">公司简介</h2>
                <hr class="light">
                <p class="text-faded">近十年国内外大数据为基础，国内外资深机器学习算法工程师、IT团队自主开发的人工智能课程筛选模型，使十里易知平台能自动智能筛选匹配优质课程。
以大数据、人工智能为基础的模型、系统为核心竞争力，随着数据量不断积累，系统中的动态模型还可人工智能迭代优化，强化技术壁垒的可持续性和模型的高效性。
</p>
                <a href="#" class="btn btn-default btn-xl">马上咨询</a>
            </div>
        </div>
    </div>
</section>
